<!DOCTYPE html>
<html>
<head>
  <title>HasSecurePasswordLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if logged_in? %>
  <%= link_to 'home', user_path(current_user)%> 
  <%= link_to 'log out', logout_path, method: "delete" %>
  <% else %>
  <%= link_to 'sign in', login_path %>
  <%= link_to 'sign up', signup_path %>
  
  <% end %>
</div>


<%= yield %>

</body>
</html>
